.site--layout {
  background-color: red !important;
}

.header--admin {
  border-radius: 1rem;
  background-color: #fff;
}

.header--admin--avatar {
  display: flex;
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.site--layout--background {
  background-color: #5f4af5;
}

.ant-menu-item-selected {
  background: #fff;
}
.ant-menu-title-content a,
.ant-menu-title-content {
  font-weight: 600;
  color: #040846;
}
.ant-layout {
  background-color: rgb(241, 241, 241) !important;
  min-height: 100vh;
}

.header-user-name {
  font-weight: bold;
}

.side-right {
  padding: 1.2rem;
}

.side-right-content {
  margin-top: 1rem;
  padding: 24px;
  min-height: 280px;
  background: #fff;
  border-radius: 1rem;
}
